.authContainer {
    margin: 5% 0;
    border: solid #c4c4c4 1px;
    border-radius: 10px;
}

.header h1 {
    margin-top: 0;
    margin-bottom: 0;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
}

.logo img {
    max-width: 50px;
    max-height: 50px;
}

.logo p {
    margin: 0 5px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 3rem;
}

.authButton {
    background-color: #fff;
    border: solid #c4c4c4 1px;
    border-radius: 5px;
    padding: 5px;
    outline: none;
    cursor: pointer;
}

.authButton:hover {
    background-image: linear-gradient(to bottom left, #e4e4e4, #d4d4d4);
    color: #fff;
    outline-offset: 0;
}

.authButton:active {
    transform: scale(0.99);
}

input {
    width: 100%;
    outline: none;
    border: none;
    background-color: #f4f4f4;
    border-radius: 5px;
    padding: 5px;
}

<<<<<<< HEAD
input .control-progress {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

=======
>>>>>>> master
input::placeholder {
    color: #0c89c6;
}

label {
    margin-bottom: 0;
    font-weight: 500;
}

.authFormGroup {
    margin: 10px 20px 20px 20px !important;
}